<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>614320126936-gnr89crar88amflbiqmfrbt9ov6g7ld2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.614320126936-gnr89crar88amflbiqmfrbt9ov6g7ld2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>614320126936-o14047ko52kobvnt7ngf0r8bkg2i7oml.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA5yhvXxr5_WjFWUx4pJPChsTM-aeaBaiY</string>
	<key>GCM_SENDER_ID</key>
	<string>614320126936</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.examfour</string>
	<key>PROJECT_ID</key>
	<string>login-c87be</string>
	<key>STORAGE_BUCKET</key>
	<string>login-c87be.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:614320126936:ios:224f4661f26397ed4a90ad</string>
</dict>
</plist>